@model IEnumerable<ImageWebApplication.Models.LogEntry>
@{
    ViewBag.Title = "LogsTable";
}


<table class="table table-striped table-dark" id="myTable">

    <thead class="thead-dark">

        <tr>

            <th scope="col">Status</th>

            <th scope="col">Message</th>

        </tr>

    </thead>

    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td id=@entry.Status> @Html.DisplayFor(m => entry.Status)</td>
                <td>@Html.DisplayFor(m => entry.Message)</td>
            </tr>
        }
    </tbody>
</table>