@model ImageWebApplication.Models.Logs

@{
    ViewBag.Title = "Logs";
}

<h2>Logs</h2>

<div>
    <input type="text" id="txtFilterID" size="5" />
    <input type="button" id="btnFilter" value="Filter" />
</div>
<script>
    $("#btnFilter").click(function () {
        var input = { filter: $("#txtFilterID").val()};
        if (input == "info") {
            $.post("@Url.Action("GetLogInfo")", "json");
        }
    });
</script>