<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OutputDir" value="C:\Users\Yuval Hoch\Desktop\hidden"/>
    <add key="ThumbnailSize" value="120"/>
    <add key="Handler" value="C:\Users\Yuval Hoch\Downloads;C:\Users\Yuval Hoch\Desktop"/>
    <add key="LogName" value="ImageServiceLog"/>
    <add key="SourceName" value="ImageServiceSource"/>
  </appSettings>
  
</configuration>